<h1>Pages#index</h1>


<% if user_signed_in? %>
	<%= form_with model: @activity, url: asigne_activity_path(current_user), method: :post, local: true do |f| %>

		<%= f.label :activity %>
		
		<%= f.collection_select :activity_id, @user_activities, :id, :name, :prompt => true %>

		<%= f.submit "Enviar" %>

	<% end %><br>

	<%= form_with model: @activity, url: new_activity_path(current_user), method: :post, local: true do |f| %>
	
		<%= f.label :nueva_actividad %>
		<%= f.text_field :name %>

		<%= f.submit "Enviar" %>
	<% end %><br>



<% end %>

<br><br>

<% @users.each do |user| %>
	<%= link_to user.name, user_page_path(user) %><br>
<% end %>